@{
    ViewData["Title"] = "Global Cases";
}
@section Styles {
    <link rel="stylesheet" href="~/css/home.css" type="text/css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
}
@using CovidCounter.Models
@model CovidModel

@if(Model is null)
{
    <h4>Loading ...</h4>
}
else
{
    <header>
        <div class="header-info-wrapper">
            <h2>Total Cases</h2>
            <h1 class="counter">@Model.Global.TotalConfirmed.ToString("N0")</h1>

            <h2>Deaths</h2>
            <h1 class="counter">@Model.Global.TotalDeaths.ToString("N0")</h1>

            <h2>Recovered</h2>
            <h1 class="counter recovered">@Model.Global.TotalRecovered.ToString("N0")</h1>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="#E8E8E8" points="0,100 100,0 100,100"/>
        </svg>
    </header>


    <div class="container">
        <div class="row">
            <div class="form-wrapper">
                <div class="col-12 col-md-4 offset-md-4">
                    <form id="search-form">
                        <div class="form-group">
                            <select id="form-select" class="form-control" name="searchTerm" asp-items="@ViewBag.countriesList"></select>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary form-control" type="submit" value="search">
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <div class="row">
            @foreach (SingleCountry c in Model.Countries)
            {
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="country-id" id="@c.Country">
                        <div class="country-wrapper">
                            <div class="country-title-wrapper text-center">
                                <h4>@c.Country</h4>
                                <img src="@c.GetImagePath()" alt="">
                            </div>
                            <div class="sperator">
                                <div class="divider div-transparent"></div>
                            </div>
                            <table class="country-table">
                                
                                <tr>
                                    <td>Total Confirmed</td>
                                    <td> @c.TotalConfirmed</td>
                                </tr>
                                <tr>
                                    <td>Total Deaths</td>
                                    <td>@c.TotalDeaths</td>
                                </tr>
                                <tr>
                                    <td>Total Recovered</td>
                                    <td>@c.TotalRecovered</td>
                                </tr>
                                <tr>
                                    <td>New Confirmed</td>
                                    <td>@c.NewConfirmed</td>
                                </tr>
                                <tr>
                                    <td>New Deaths</td>
                                    <td>@c.NewDeaths</td>
                                </tr>
                                <tr>
                                    <td>New Recovered</td>
                                    <td>@c.NewRecovered</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
        <a id="up-btn">
            <img src="~/images/arrow.png" />
        </a>
    </div>  
}
